body {
    font-family: 'Noto Sans JP', sans-serif;
}

h1 {
    font-family: 'Quicksand', sans-serif;
}

h2, h3, h4, h5, h6 {
    font-family: 'Noto Sans JP', sans-serif;
}

header {
    background-color: blue;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;

}

#spaceH1 {

}

#spaceNav {
    margin-left: 25px;
}

a {
    color: white;
}

#anchors {
    display: flex;
    margin-top: 25px;
}

main {
    margin: 20px;
}

.js-date {
    text-align: end;
}

.currencyLayout {
    display: flex;
    justify-content: space-evenly;
}

input {
    width: 300px !important;
    height: 300px !important;
}

#convertedValue {
    background-color: red;
    width: 300px;
    height: 300px;
}



/*
p,
ul, ol,
dl, dd, dt,
figure,
blockquote,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
button,
input,
select,
optgroup,
option
*/
