body {
    font-family: 'Noto Sans JP', sans-serif; /** added google font body */
    margin: 0;
    padding: 0;
}
/*Size of the result*/
#result {
  font-size: 2.5rem;
}

h1 {
    font-family: 'Quicksand', sans-serif; /** added specific google font to the h1 element signifying the webpage's title*/
}
h2, h3, h4, h5, h6 {
    font-family: 'Noto Sans JP', sans-serif; /** added same google font as body to the rest of the headers */
}
/** added hide class to display local storage text*/
.hide {
    display: none;
}
#valueOfLS {
    width: fit-content;
}
/** End of my code */



.navbar {
    background-color: rgb(95, 163, 182);
  }
  
  h1 {
    color: white;
    font-size:xx-large
  }
    .navbar-item {
        color: black;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
  .navbar-item:hover {
    color: #000000;
    background-color: #F2E1E1;
  }

  /* end of navbar styiling */
